<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/monCV/css/monCV2.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class='col-md-12'>
            <header class='row'>
                <div class="col-md-4" >
                    <div class='row'>
                        <img class='col-md-13' src="../../static/monCV/img/photo.jpg" alt="photo Developper freelance">
                    </div>
                </div>
                <div class='col-md-8'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='row'>
                                <div class='col-md-10 header2 nom'>
                                    <em style:'width: 100px'>Hi, i'm </em> <span style='color:#85c1e9'>Alex Yattara</span>
                                </div>
                                <div class='col-md-2 header2 nom_icon'>ICON</div>
                            </div>
                        </div>

                        <div class='col-md-12'>
                            <div class='row'>
                                <div class='col-md-10 header2 job'>The experienced Web Developper</div>
                                <a href="#" class="col-md-2 header2 job_icon">
                                    <span class="glyphicon glyphicon-download-alt" style='font-size: 1.2em'></span>
                                </a>
                            </div>
                        </div>

                        <div class='col-md-12'>
                            <div class='row'>
                                <a href='#' class='col-md-2 nav_header2 nav1'>
                                    <span class="glyphicon glyphicon-home" style='font-size: 1em'><br><br/>HOME</span>
                                </a>
                                <a href='#' class='col-md-2 nav_header2 nav2'>
                                    <span class="glyphicon glyphicon-cog" style='font-size: 1em'><br/><br/>SERVICES</span>
                                </a>
                                <a href='#' class='col-md-2 nav_header2 nav3'>
                                    <span class="glyphicon glyphicon-folder-close" style='font-size: 1em'><br/><br/>PORTOFOLIO</span>
                                </a>
                                <a href='#' class='col-md-2 nav_header2 nav4'>
                                    <span class="glyphicon glyphicon-earphone" style='font-size: 1em'><br/><br/>CONTACTS</span>
                                </a>
                                <a href='#' class='col-md-2 nav_header2 nav5'>
									<i class="glyphicon glyphicon-briefcase" style='font-size: 1em'><br/><br/>STORE</i>
                                    <!-- <span class=" glyphicon-glyphicon-briefcase"><br/><br/>STORE</span> -->
                                </a>
                                <a href='#' class='col-md-2 nav_header2 nav6'>
                                    <span class="glyphicon glyphicon-edit" style='font-size: 1em'><br/><br/>BLOG</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class='row'>
                <div class='col-md-12'>
                    <div class='row'>
                        <div class='col-md-8 section1'>
                            <div class='row'>
                                <div class='col-md-12 serviceContent'>
                                    <p class='my_services'>
                                        <strong>My Services</strong><br>
                                        The Gridus personal theme is ideal as a vCard Resume, creative Portfolio
                                        or personal CV website for artists, designers and job-seekers.
                                    </p>
                                </div>
                                <div class='col-md-12'>
                                    <div class='row'>
                                        <div class='col-md-4 serviceContent'>
                                            <p class='my_services2'>
                                            <span class='glyphicon glyphicon-scissors' style='font-size: 1.9em' ></span>
                                            WEB DESIGN <br><br>
                                            Elegant and Clean Resume
                                            theme based on popular
                                            Layers WP page builder
                                            allows to control every
                                            website
                                            </p>
                                        </div>
                                        <div class='col-md-4 serviceContent'>
                                            <p class='my_services2'>
                                            <span class='glyphicon glyphicon-scissors' style='font-size: 1.9em' ></span>
                                            SOCIAL MARKETING<br><br>
                                            It is possible to create
                                            different styles of the
                                            Portfolio grid: Masonry
                                            filtered portfolio, Cards
                                            grid or Items List
                                            </p>
                                        </div>
                                        <div class='col-md-4 serviceContent'>
                                            <p class='my_services2'>
                                            <span class='glyphicon glyphicon-scissors' style='font-size: 1.9em' ></span>
                                            ECOMMERCE<br><br>
                                            Use all the Gridus theme
                                            Communication features:
                                            online Contact form,
                                            Posts / Pages Comments
                                            and Social …
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col-md-4 sectionheight1 personnal_infos'>
                            <p  class='infos'>
                                <strong style='font-size: 1.8em'>Personnal Infos</strong>
                                <p class='infosContent'>
                                    <p><span class='titre'>Full name:</span> Alassane Yattara</p>
                                    <p><span class='titre'>Age:</span>  21years</p>
                                    <p id='addr'><span class='titre'>Address:</span> 2220, Oulfa, Arreda,
                                        <p style='padding-left: 165px'>Casablanca Marroco</p>
                                    </p>
                                    <p><span class='titre'>Phone:</span>  +212 603 39 08 98</p>
                                    <p><span class='titre'>Email:</span> yattus50@gmail.com</p>
                                    <p><span class='titre'>Aviable for:</span> Freelance job</p>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class='col-md-12'>
                    <div class='row'>
                        <div class='col-md-4 my_schools'>
                            <div class='row'>
                                <div class='col-md-12 schoolContent1'>
                                    <strong>Education</strong>
                                </div>
                                <div class='col-md-12 schoolContent'>
                                    <strong>Polytechnique</strong>
                                    <p class='education'>
                                        <em>2016 2018</em>
                                        <small class='pull-right'>University of study</small>
                                    </p>
                                </div>
                                <div class='col-md-12 schoolContent'>
                                    <strong>Openclassrooms</strong>
                                    <p class='education'>
                                        <em>2016 2018</em>
                                        <small class='pull-right'>Study online</small>
                                    </p>
                                </div>
                                <div class='col-md-12 schoolContent'>
                                    <strong> Web Agency </strong>
                                    <p class='education'>
                                        <em>2016 2018</em>
                                        <small class='pull-right'> Web Agency </small>
                                    </p>
                                </div>
                                <div class='col-md-12 schoolContent'>
                                    <strong> Web Agency </strong>
                                    <p class='education'>
                                        <em>2016 2018</em>
                                        <small class='pull-right'>Web Agency </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-8 my_skills'>
                             <div class='row'>
                                <div class='col-md-12 schoolContent1'>
                                    <strong> Professional Skills</strong>
                                </div>
                                <div class='col-md-12'>
                                    <div class='row'>
                                        <aside class='col-md-6'>
                                            <div class='row'>
                                                <div class='col-md-12 aside professionalC'>
                                                    Web Design<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                   Java Script<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                  Web Programming<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                  jQuery<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                            </div>
                                        </aside>
                                        <aside class='col-md-6'>
                                            <div class='row'>
                                                <div class='col-md-12 aside professionalC'>
                                                    HTML Coding<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                   CSS3 Coding<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                    Django<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                                <div class='col-md-12 aside professionalC'>
                                                    WordPress<br>
                                                    <div class='progress progress-striped'>
                                                        <div class='progress-bar progress-bar-success'></div>
                                                    </div>
                                                    <div class='pull-right'>value</div>
                                                </div>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-13'>
                    <div class='row'>
                        <div class='col-md-12 my_skills my_framework'>
                            <div class='row'>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                                <div class='col-md-2 sectionheight3'>Ubuntu</div>
                            </div>
                        </div>
                    </div>
               </div>
            </section>
            <footer class='row'>
                <div class='col-md-3 '>
                    <div class='row'>
                        <div class='col-md-12 footerheight1'>
                            <strong>ALASSANE YATTARA</strong>
                        </div>
                        <div class='col-md-12 footerheight2'>

                        </div>
                    </div>
                    </div>
                <div class='col-md-3 '>
                    <div class='row'>
                        <div class='col-md-12 footerheight1'>
                            <strong>MORE ABOUT ME</strong>
                        </div>
                        <div class='col-md-12 footerheight2'>

                        </div>
                    </div>
                    </div>
                <div class='col-md-3 '>
                    <div class='row'>
                        <div class='col-md-12 footerheight1'>
                            <strong>FIND MY INFO</strong>
                        </div>
                        <div class='col-md-12 footerheight2'>

                        </div>
                    </div>
                    </div>
                <div class='col-md-3 '>
                    <div class='row'>
                        <div class='col-md-12 footerheight1'>
                            <strong>STAY CONNECTED</strong>
                        </div>
                        <div class='col-md-12 footerheight2'>

                        </div>
                    </div>
                    </div>
            </footer>
        </div>
    </div>
    <script src='../../bootstrap/js/bootstrap.js'></script>
    <script scr='../../static/monCV/js/jquery-3.3.1/jquery.js'></script>
</body>
</html>
