<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../../static/monCV/css/monCV.css" /> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type='text/css'>
        body {
            margin-top: 15px;
        }

        [class*='col-'], footer{
            background-color: lightgreen;
            text-align: center;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class='container'>
        <div class='row'  id='blog_page'>
            <header class='col-md-4'>
                <!--PHOTO -->
                <div id='photo' class='col-md-4'>
                    <img src="../../static/monCV/img/images.png" alt="photo-developpeur"/>
                </div>

                <!-- NOM ET NAVIGATEUR -->
                <div id='header2'>
                    <div id='nom_icons'>
                        <div id='blog_nom'>
                            <span id="nom">MON NOM</span>
                        </div>
                        <div id='blog_icons'>
                            <span id='icons'>ICONS</span>
                        </div>
                    </div>

                    <div id='professions_icons_telecharge'>
                        <div id="blog_profession">
                            <span id='profession'>Professions</span>
                        </div>
                        <div id="icons_telechargement">ICONS</div>
                    </div>

                    <div id='nav'>
                        <div id="blog_nav1">
                            <span id='nav1'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                        <div id="blog_nav2">
                            <span id='nav2'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                        <div id="blog_nav3">
                            <span id='nav3'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                        <div id="blog_nav4">
                            <span id='nav4'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                        <div id="blog_nav5">
                            <span id='nav5'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                        <div id="blog_nav6">
                            <span id='nav6'>ICONS</span>
                            <span class='home'>Home</span>
                        </div>
                    </div>
                </div>
            </header>

            <section id="section1">
                <div id='mes_services'>
                    <div class='service'>

                    </div>

                    <div class='service'>

                    </div>

                    <div class='service'>

                    </div>
                </div>
                <aside id='personal_info'>
                    <div>
                        <h2>Personnal Info</h2>
                        <p>
                        <strong class='info'>Age:</strong> 21 ans <br/>
                        <strong class='info'>Address:</strong> 21 ans <br/>
                        <strong class='info'>Phone:</strong> 21 ans <br/>
                        <strong class='info'>Email:</strong> 21 ans <br/>
                        <strong class='info'>Available for:</strong> 21 ans <br/>
                        </p>
                    </div>
                </aside>
            </section>

            <section id="section2">
                <div id="employement">
                    EMPLOYEMENT
                </div>
                <div id="competence">
                    Personnal Skills
                </div>
            </section>

            <section id="section3">
                ICONS: PYHTON DJANGO JAVASCRIPT HTML5 CSS3
            </section>

            <footer>
                BIENTOT DES TRUCK ICI
            </footer>
        </div>
    </div>
    <script src='../../bootstrap/js/bootstrap.js'></script>
    <script scr='../../static/monCV/js/jquery-3.3.1/jquery.js'></script>
</body>
</html>
