<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/monCV/css/tuto2.css">
    <style type='text/css'>

    </style>
    <title>BootstrapTest</title>
</head>
<body>
    <div class='container'>
        <header class='row'>
            <div class='col-md-12'>Entête</div>
        </header>
        <div class='row'>
            <div class='col-sm-2 col-xs-12 col-md-2'>
                <aside class='row'>
                    <aside class='col-md-12'>Aside</aside>
                    <aside class='col-md-12'>Aside</aside>
                </aside>
            </div>
            <section class='col-sm-10 col-xs-12 col-md-8'>
                Section
            </section>

            <div class='clearfix visible-sm-block'></div>
            <!-- <div class='clearfix visible-xs-block'></div> -->

             <div class='hidden-xs col-md-2'>
                 <aside class='row'>
                    <aside class='col-md-12'>Aside</aside>
                    <aside class='col-md-12'>Aside</aside>
                </aside>
            </div>
        </div>
        <footer class='row'>
            <div class='col-md-12'>footer</div>
        </footer>
    </div>

</body>
</html>
